{% extends 'temp/nav.html' %}
{% block content %}



<!-- Page Header Start -->
    <div class="container-fluid page-header py-6 my-6 mt-0 wow fadeIn" data-wow-delay="0.1s">
        <div class="container text-center">
            <h1 class="display-4 text-white animated slideInDown mb-4">Admin View Assign Paper</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
{#                    <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>#}
                    <li class="breadcrumb-item text-primary active" aria-current="page">Admin View Assign Paper</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->
<!-- About Start -->
    <div class="container-xxl">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-10 wow fadeInUp" data-wow-delay="0.1s">

{#                    SECTION      #}

<table class="table">
		<tr>
            <th>Chief Name</th>
            <th>Additional Name</th>
            <th>Paper</th>
			<th>From</th>
			<th>To</th>
			<th>Status</th>
		</tr>
{% for i in x %}
		<tr>
			<td>{{ i.issuepaper.cheif.name }}</td>
			<td>{{ i.additional.name }}</td>
			<td>{{ i.issuepaper.paper.paper }}</td>
			<td>{{ i.start }}</td>
        <td>{{ i.end }}</td>
        <td>{{ i.status }}</td>
		</tr>
{% endfor %}
	</table>

{# END SECTION #}

            </div>
        </div>
    </div>
    </div>
     {% endblock %}