<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<table border="1">
    <th  colspan="11">UNIVERSITY OF CALICUT
(Pareeksha Bhavan)<br>

Consolidated Remuneration Bill in connection with Evaluation of Answer Scripts

<br> Name of Examination : Sixth Sem B.Sc/BCA March 2022 Total No. of Scripts :2239<br>
Subject : COMPUTER SCIENCE<br>
Centre of CV Camp :<br>
Name of Chairman & College :
Date 23-5-22 to 27-5-22</th>

		<tr>
            <td>No</td>
			<td>Name of Examiner</td>
			<td>Name of the College </td>
			<td>Category</td>
			<td>Total No of Papers Valued</td>
            <td>Mandatory Deduction</td>
			<td>Eligible No Of Papers</td>
            <td>Remuneration</td>
            <td>Additional Maximum & Chairman fee</td>
            <td>Remuneration For Discussion</td>
			<td>Total</td>


		</tr>
		<tr>
			<td>1</td>
            <td>RSm sndp</td>
			<td>ramiya miss</td>
			<td>Additional/Chief</td>
			<td>24</td>
			<td></td>
			<td></td>
            <td></td>
            <td></td>
            <td></td>

		</tr>
	</table>

</body>
</html>